.add-button{
    position: fixed;

    bottom: 20px;
    right: 25px;

    background-color: green;

    color: white;

    border: none;
    border-radius: 50%;

    width: 70px;
    height: 70px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.5);

    display: flex;

    justify-content: center;
    align-items: center;

    transition: transform 0.4s;

    z-index: 1001;

}

.add-button:hover{

    transform: scale(1.1);

}

.tabla-scroll{
    overflow-x: auto;
    
}